.menubar nav ul li .membership-types-menu{
    background: #F7F8FA;
    color: #920BEA;    
}

.membership-type-create-header{
    margin-left:80px;
    margin-top: 20px;  
    font-size:18px;
    font-weight: 500;
    color:#3E4E5B;
    width: 94%;
    font-family: "Poppins",sans-serif;
}
.membership-type-create-header .title{
    display:flex;
}

.membership-type-create-header .back-button a{
    position: relative;
    color: #6a8296;
}
.membership-type-create-header .back-button a ion-icon{
    position: relative;
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.membership-type-create-header .back-button a span{
    position: relative;
    font-size:16px; 
    font-family:"Poppins";
    font-weight: 200;
    vertical-align: middle;
}

.membership-type-create-header .back-button a:hover{
    background: #F7F8FA;
    color: #920BEA;
}

.membership-type-create-content{ 
    display: flex;  
    position:absolute;
    top: 0;
    bottom: 0;
    height: 80%;
    margin-left: 80px;
    margin-top: 100px;
    background: #FFF;
    width:50%;
    box-shadow: rgba(124, 124, 124, 0.2) 0px 1px 8px 0px;
}

.input-field
{
    display: flex;
    width: 100%;
    flex-direction:column;
    margin: 35px 0px 0px 35px;
}

.input-field label{
    font-size: 13px;
    font-weight: 500;
    color: #3E4E5B;
}
.input-field input{
    border: 2px solid  #ebebeb;
    font-size: 12px;
    padding:10px;
    height:35px;
    width:400px;
    margin-top: 10px;
    border-radius: 3px;
    color:#3E4E5B;  
    
}

.membership-type-create-content .action-buttons{
justify-content: flex-end;
display: flex;
margin: 35px 35px 35px 0px;
vertical-align: bottom;
}

.action-buttons .submit_button{
    
    font-size: 14px;  
    font-weight: 300;  
    height: 35px;
    width: 150px;
    padding: 5px;
    border-radius:6px;
    background: #920BEA;
    color: #fff;
    align-self:self-end;
}